html,
A {text-decoration: none;}
body {
    height: 100%;
}

* {
    margin: 0;

}

body {
  background-color: #EDEDED;
  /* overflow: hidden; */
}

.module {
  position: absolute;
  display: block;
  width:200%;
  height: 200%;
  background-image: url("images/circles1.svg");
  z-index: 0;
  background-repeat:no-repeat;
}

.name{
  position: absolute;
  display: inline-block;
  margin-left: 2%;
  margin-top: 2%;
  width:5%;
  height: 5%;
  font-size: 2.5em;
  font-family: 'Josefin Sans';
  font-weight: Regular;
  z-index: 10;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info{
  margin-left: 90%;
  margin-top: 50%;
}

.contact{
  margin-left: 2%;
  margin-top: 50%;
}

.workv img:hover{
  position: absolute;
  display: inline-block;
  width: 20%;
  height: auto;
  z-index: 10;
}
.workh img:hover{
  position: absolute;
  display: inline-block;
  width: 35%;
  height: auto;
  z-index: 10;
}

.bart img{
  position: absolute;
  display: inline-block;
  align-self: center;
  width: 7%;
  height: auto;
  /* margin-left: 80%; */
  /* margin-top: 15%; */
  z-index: 1;
  transition-property: width;
  transition-duration: 1s;
  transform: translateX(-50%) translateY(-50%);
  /* filter: drop-shadow(0 0 0.95rem crimson); */

}

.flyer img{
  position: absolute;
  display: inline-block;
  width: 5%;
  height: auto;
  /* margin-left: 37%;
  margin-top: 20%; */
  z-index: 1;
  transition-property: width;
  transition-duration: 1s;
  transform: translateX(-50%) translateY(-50%);
}

.liver img{
  position: absolute;
  display: inline-block;
  width: 5%;
  height: auto;
  /* margin-left: 37%;
  margin-top: 20%; */
  z-index: 1;
  transition-property: width;
  transition-duration: 1s;
  transform: translateX(-50%) translateY(-50%);
}

.pizza img{
  position: absolute;
  display: inline-block;
  width: 5%;
  height: auto;
  /* margin-left: 37%;
  margin-top: 20%; */
  z-index: 1;
  transition-property: width;
  transition-duration: 1s;
  transform: translateX(-50%) translateY(-50%);
}



@-webkit-keyframes color {
  0% {background-color: #ff2700;}
  30% {background-color: #f2f2f2;}
  60% {background-color: #00ff00;}
  90% {background-color: black;}
  100% {background-color: #ff2700;}
}
